mixin tour(modifier)
  section.tour&attributes(attributes)
    .tour__content(id="tour")
      .tour__info 
        h3.tour__title Чтобы поддержать международный васюкинский турнир <img src="img/chess-gamer.png" alt="Шахматные игроки" class="tour__image"><span class="tour__lection"> посетите лекцию на тему:</span><span class="tour__idea">&laquo;плодотворная дебютная идея&raquo;
      .tour__picture
        img(src="img/chess-gamer.png" alt="Шахматные игроки").tour__img