
include ../blocks/show/show.pug
include ../blocks/tour/tour.pug
include ../blocks/session/session.pug
include ../blocks/stages/stages.pug
include ../blocks/players/players.pug
include ../blocks/line/line.pug
include ../blocks/footer/footer.pug
