mixin stages(modifier)
  section.stages&attributes(attributes)
    .stages__content
      h3.stages__title Этапы преображения Васюков <a href="#!" class="stages__link-title"> Будущие источники обогащения васюкинцев </a>
      img(src="img/plane.png").stages__image 
      .stages__slider.swiper-container
        .stages__list.swiper-wrapper 
          .stages__item.swiper-slide
            p.stages__item-text Строительство железнодорожной магистрали Москва-Васюки 
          .stages__item.swiper-slide 
            p.stages__item-text Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
          .stages__item.swiper-slide 
            p.stages__item-text Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
          .stages__item.swiper-slide 
            p.stages__item-text Строительство дворца для турнира 
          .stages__item.swiper-slide 
            p.stages__item-text Размещение гаражей для гостевого <br>автотранспорта
          .stages__item.swiper-slide 
            p.stages__item-text Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
          .stages__item.swiper-slide 
            p.stages__item-text Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
            img(src="img/plane.png").stages__img
      .stages__navigation.swiper-navigation
        button(type="button").swiper-button-prev
        .stages__pagination.swiper-page
        button(type="button").swiper-button-next 