mixin line(modifier)
  .line&attributes(attributes)
    .line__line=line 
      .line__content
        p.line__line-text Дело помощи утопающим — дело рук самих утопающих!
        p.line__line-text Шахматы двигают вперед не только культуру, но и экономику!
        p.line__line-text Лед тронулся, господа присяжные заседатели!