.show {
    background-image: url(../img/chess-city.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &__content {
        max-width: 1242px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__logo {
        display: flex;
        gap: 0 6px;
        padding-top: 35px;
    }

    &__figure {
        svg {
            width: 20px;
            height: 35px;
        }
    }

    &__logo-text {
        color: rgb(89, 86, 83);
        font-family: Golos Text;
        font-size: 16px;
        font-weight: 700;
        line-height: 108%;
        text-transform: uppercase;
    }

    &__info {
        min-height: 100vh;
        padding-top: 50px;
        max-width: 560px;
        width: 100%;
    }

    &__title,
    &__text {
        color: rgb(49, 49, 49);
        font-family: Merriweather;
        font-size: 60px;
        line-height: 110%;
        text-transform: uppercase;
    }

    &__title {
        margin-top: 10px;
    }

    &__text {
        text-align: center;
        &--down {
            margin-left: 20px;
        }
    }

    &__pay-text {
        color: rgb(49, 49, 49);
        font-family: Golos Text;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        margin: 22px 5px 20px 0;
    }

    &__link,
    &__link-right {
        display: inline-block;
        border-radius: 66px;
        background: rgb(31, 31, 31);
        color: rgb(255, 255, 255);
        font-family: Golos Text;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        margin: 15px 15px 0 0;
        text-align: center;
    }

    &__link {
        width: 263px;
        padding: 17px 50px 17px;
    }

    &__link-right {
        width: 265px;
        padding: 16px 50px 16px;
        background: none;
        border: 2px solid rgb(31, 31, 31);
        color: rgb(31, 31, 31);
    }

    &__link:hover {
        background: rgb(251, 206, 81);
        color: rgb(31, 31, 31);
    }

    &__link-right:hover {
        background: rgb(31, 31, 31);
        color: rgb(255, 255, 255);
    }

    @media screen and (max-width: 1024px) {
        &__link-right {
            background: rgb(255, 255, 255);
            border: none;
        }
    }

    @media screen and (max-width: 560px) {
        &__title,
        &__text {
            font-size: 36px;
        }

        &__text {
            &--down {
                margin-left: 0px;
            }
        }

        &__link,
        &__link-right {
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
            margin-right: 0;
        }

        &__link-right br {
            display: none;
        }
    }

    @media screen and (max-width: 375px) {
        background-image: url(../img/main-screen.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 20px;
        
        &__info {
            padding-top: 100px;
        }

        &__pay-text {
            text-align: left;
        }

        &__link,
        &__link-right {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}